
html, body {
    margin: 0;
    padding: 0;
    cursor: none;
    background: #161616;
}

.nav-wrapper {
    width: 100%;
    height: 25vh;
    background: #161616;
}

nav {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    top: 50%;
}

.hover-this {
    transition: all 0.3s ease;
}

span {
    display: inline-block;
    font-family: 'Syncopate', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    pointer-events: none;
    transition: transform 0.1s linear;
}

.error {
    font-family: 'Syncopate', sans-serif;
    font-size: 16px;
    color: Red;
}


.active_span{
    display: inline-block;
    font-family: 'Syncopate', sans-serif;
    font-weight: 300;
    color: aquamarine;
    font-size: 25px;
    text-transform: uppercase;
    pointer-events: none;
    transition: transform 0.1s linear;
}

.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.4rem;
    background-color: aquamarine;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.5s ease;
}

.hover-this:hover ~ .cursor {
    transform: translate(-10%, -10%) scale(6);
}

@media(min-width: 900px) {
    nav {
        display: flex;
        justify-content: space-around;
    }
}

@media(max-width: 900px) {
    nav {
        top: 30%;
    }

    .hover-this {
        width: 100%;
        padding: 20px 0;
        display: inline-block;
    }
}

div {
    background: #161616;

}



.blog_posts {
    padding-left: 200px;
}

.textbox {
    height: 200px;
}


.login {
    text-align: center;
}

p {
    font-family: 'Syncopate', sans-serif;
    font-size: 15px;
    color: white;
}

h1 {
    font-family: 'Syncopate', sans-serif;
    font-size: 30px;
    color: white;
}

table  {
    width: 70rem;
    padding-left: 300px;
}

.padding-bottom {
    padding-bottom: 40px;
    padding-right: 300px;
    padding-left: 50px;
}

.padding-card {
    padding-left: 35%;
}

.card {
    position: inherit !important;
}

.card-body-test {
    text-align: center;
}

.btn-dark {
    font-family: 'Syncopate', sans-serif !important;
    font-size: 13px !important;
}



